body, html{
    height: 100%;
}
body {
    /* The image used */
  background-image: url("images/vs.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
    
   }

.GraphWrapper {
    width:300px;
    border:1px solid rgba(160, 154, 154, 0.616);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.BlueBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:rgb(123, 123, 255);
}

.RedBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:rgb(248, 129, 129);
    
}

.container{
    display: flex;
    flex-direction: column ;
}


.nixon{
    text-align: right;
    padding-right: 100px;

    
}

.mcgovern{
   text-align: left;
   padding-left: 100px;

}

#title{
    text-align: center;
}


button {
  background: rgb(76, 142, 250);
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: .875em;
  height: 36px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*button {
  background: rgb(76, 142, 250);
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: .875em;
  height: 36px;
  margin: -6px 0 0;
  margin-right: 10px;
  margin-top:660px;
  padding: 8px 24px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}